PORT=5000
NODE_ENV=development
DB_NAME=car_showroom
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=super_secure_local_secret_123
JWT_EXPIRES_IN=1d
FRONTEND_URL=http://localhost:5173
